
{{ define "title" }}
	{{ $.Title }} - {{ $.Site.Title }}
{{ end }}

{{ define "main" }}
	{{ if isset .Params "redirect" }}

		<script>
			window.location.replace({{.Params.redirect}})
		</script>
	
	{{else}}
		{{ $classes := .Params.class | default "wrapper style1" }}
		<div id="main" class="{{ $classes }}"
					{{if isset .Params "image"}}
					style="
						background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.85), rgba(23, 24, 32, 0.85)), url('{{$.Site.BaseURL}}{{.Params.image}}');
			    		background-size: cover;
				    	background-repeat: no-repeat;
					    background-attachment: fixed;
						"
					{{end}}
			>
			{{ $raw := .Params.raw | default false }}
			{{ if $raw }}
				{{ .Content }}
	
			{{ else }}
				<div class="container">
					<header class="major">
						<h2>{{ .Title }}</h2>
						{{if isset .Params "subtitle" }}
						<p>{{.Params.subtitle}}</p>
						{{end}}
					</header>
					 <!-- Content -->
					 <section id="content">
						 {{if isset .Params "image" }}
						 <!--<a href="#" class="image fit"><img src="{{ $.Site.BaseURL }}{{ .Params.image }}" alt="{{ .Title }}"></a>-->
						 {{ end }}
						{{ .Content }}
					</section>
				</div>
			{{ end }}
		</div>
	{{ end }}
	
{{end}}
