				<header id="header">
					<a href="{{$.Site.BaseURL}}">
						{{ if isset $.Site.Params "headerlogoimg" }}
							<img src="{{$.Site.BaseURL}}/{{$.Site.Params.headerlogoimg}}" alt="{{$.Site.Title}}" class="headerlogo"/>
						{{ else }}
							<h1 id="logo">
								{{ $.Site.Title }}
							</h1>
						{{ end }}
					</a>
					<nav id="nav">
						<ul>
							<li><a href="{{$.Site.BaseURL}}">Home</a></li>
							{{ partial "header/menu" (dict "menu" $.Site.Menus.main "page" . "site" .Site ) }}
							{{ partial "header/menu.additional" . }}
						</ul>
					</nav>
				</header>

