				<header id="header">
					<a href="{{$.Site.BaseURL}}">
						{{ if isset $.Site.Params "headerlogoimg" }}
							<img src="{{$.Site.BaseURL}}/{{$.Site.Params.headerlogoimg}}" alt="{{$.Site.Title}}" class="headerlogo"/>
							<h1 id="logo" style="display:none">
								{{ $.Site.Title }}
							</h1>
							
						{{ else }}
							<h1 id="logo">
								{{ $.Site.Title }}
							</h1>
						{{ end }}
					</a>
					<nav id="nav">
						<ul>
							{{if eq .URL "/"}}
								<li class="active">
							{{else}}
								<li>
							{{end}}
							<a href="{{$.Site.BaseURL}}">Home</a></li>
							{{ partial "header/menu" (dict "menu" $.Site.Menus.main "page" . "site" .Site ) }}
							{{ partial "header/menu.additional" . }}
						</ul>
					</nav>
				</header>

